### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [991]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [992]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [993]:
#count total players unique
totPlayers= len(df['SN'].unique())
totPlayers = pd.DataFrame({"Total Players":[totPlayers]})
totPlayers

   Total Players
0            576

In [994]:
uniqItems = len(df['Item ID'].unique())
avgPrice = df['Price'].mean().round(decimals=2)
nbrPurchase = df['Purchase ID'].count()
totRev = df['Price'].sum().round(decimals=2)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [995]:
summary_df = pd.DataFrame({
    "Number of Unique Items": [uniqItems],
    "Average Price": [avgPrice],
    "Number of Purchases": [nbrPurchase],
    "Total Revenue": [totRev],
})
summary_df

format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'}
summary_df.style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [996]:
#Uniq Total of Gender and Player
totCount_df =df.groupby(['Gender','SN']).groups.keys()
totCount=len(totCount_df)
totCount

576

In [997]:
#cal count by uniq count by Gender and percentage total 
cntbyGender = df.groupby('Gender')['SN'].nunique()
cntbyGenderF = cntbyGender['Female']
cntbyGenderM = cntbyGender['Male']
cntbyGenderOther = cntbyGender['Other / Non-Disclosed']

perFemale = (cntbyGenderF/totCount)*100
perMale = (cntbyGenderM/totCount)*100
perOther = (cntbyGenderOther/totCount)*100

In [998]:
GenderDemographics_df = {
    "Total Count":[cntbyGenderM ,cntbyGenderF,cntbyGenderOther],
    "Percentage of Players":[perMale,perFemale,perOther] 
}

Genders_Row = ['Male','Female','Other / Non-Disclosed']

In [999]:
GenderDemographics_df

{'Total Count': [484, 81, 11],
 'Percentage of Players': [84.02777777777779, 14.0625, 1.9097222222222223]}

In [1000]:
GenderDemographic_Summary_df = pd.DataFrame(data=GenderDemographics_df, index = Genders_Row)
format_dict = {'Percentage of Players':'{0:,.2f}%'}
GenderDemographic_Summary_df.style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1001]:
# count purchase
cntbyPurchase = len(df['Purchase ID'].unique())
cntbyPurchase

780

In [1002]:
#groupings
cntbyPurchaseGender = df.groupby('Gender')['Purchase ID'].nunique()
cntbyTotPriceGender = df.groupby('Gender')['Price'].sum()

In [1003]:
#purchase cnt by gender
cntbyPurchaseF = cntbyPurchaseGender['Female']
cntbyPurchaseM = cntbyPurchaseGender ['Male']
cntbyPurchaseOther = cntbyPurchaseGender ['Other / Non-Disclosed']

In [1004]:
# calc total price by gender
totPriceF = cntbyTotPriceGender['Female']
totPriceM = cntbyTotPriceGender ['Male']
totPriceOther = cntbyTotPriceGender ['Other / Non-Disclosed']

In [1005]:
# calc avg purchase price by gender
avgPurchasePriceF = totPriceF/cntbyPurchaseF
avgPurchasePriceM = totPriceM/cntbyPurchaseM
avgPurchasePriceOther =totPriceOther/cntbyPurchaseOther

In [1006]:
# calc avg total purchase per person 
avgTotPurPerPerson_F = totPriceF/cntbyGenderF
avgTotPurPerPerson_M = totPriceM/cntbyGenderM
avgTotPurPerPerson_Other = totPriceOther/cntbyGenderOther

In [1007]:
PurchaseAnalysisbyGender = {
    "Purchase Count":[cntbyPurchaseF ,cntbyPurchaseM,cntbyPurchaseOther],
    "Average Purchase Price":[avgPurchasePriceF,avgPurchasePriceM,avgPurchasePriceOther],
    "Total Purchase Value":[totPriceF,totPriceM,totPriceOther],
    "Avg Total Purchase Price per Person":[avgTotPurPerPerson_F,avgTotPurPerPerson_M,avgTotPurPerPerson_Other]
}

Genders_Row2 = ['Female','Male','Other / Non-Disclosed']
PurchaseAnalysisbyGender_df = pd.DataFrame(data=PurchaseAnalysisbyGender, index = Genders_Row2)

format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}','Avg Total Purchase Price per Person':'${0:,.2f}'}

PurchaseAnalysisbyGender_df.style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [1008]:
#Establish bins for Ages
age_bins =[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,299]
ageGroups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [1009]:
df_age= df.loc[:, ["SN", "Age"]]
df_age = df_age.drop_duplicates()
age_df=df_age 
age_df["Age Range"]= pd.cut(age_df["Age"], age_bins, labels = ageGroups)
age_df

                SN  Age Age Range
0          Lisim78   20     20-24
1      Lisovynya38   40       40+
2       Ithergue48   24     20-24
3    Chamassasya86   24     20-24
4        Iskosia90   23     20-24
..             ...  ...       ...
773         Hala31   21     20-24
774     Jiskjask80   11     10-14
775     Aethedru70   21     20-24
777     Yathecal72   20     20-24
778        Sisur91    7       <10

[576 rows x 3 columns]

In [1010]:
ageRangeTot = age_df.groupby("Age Range")['SN'].count()

In [1011]:
#calc cnt and percentage
perofPlayersAge = ((ageRangeTot /totCount)*100).round(2)
perofPlayersAge = perofPlayersAge.map("{:,.2f}%".format)

In [1012]:
#summary
ageData_df = pd.DataFrame({"Total Count":ageRangeTot  , "Percentage of Players":perofPlayersAge})
ageData_df.sort_index()

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1013]:
#Establish bins for Ages
age_bins =[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,299]
ageGroups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [1014]:
cnt_purAnalysisAge = pd.DataFrame(df["Purchase ID"]).count()
cnt_purAnalysisAge

Purchase ID    780
dtype: int64

In [1015]:
df_age_pur= df.loc[:, ["Purchase ID","Price","Age","SN"]]
df_age_pur
df_age_pur["Age Range"]= pd.cut(df_age_pur["Age"], age_bins, labels = ageGroups)
df_age_pur

     Purchase ID  Price  Age             SN Age Range
0              0   3.53   20        Lisim78     20-24
1              1   1.56   40    Lisovynya38       40+
2              2   4.88   24     Ithergue48     20-24
3              3   3.27   24  Chamassasya86     20-24
4              4   1.44   23      Iskosia90     20-24
..           ...    ...  ...            ...       ...
775          775   3.54   21     Aethedru70     20-24
776          776   1.63   21         Iral74     20-24
777          777   3.46   20     Yathecal72     20-24
778          778   4.19    7        Sisur91       <10
779          779   4.60   24      Ennrian78     20-24

[780 rows x 5 columns]

In [1016]:
#calc
age_cntPur =df_age_pur.groupby ("Age Range")["Purchase ID"].count()
age_totPurchaseValue =df_age_pur.groupby ("Age Range")["Price"].sum()
age_avgPurPriceAge =df_age_pur.groupby ("Age Range")["Price"].mean().round(2)

In [1017]:
age_cntPurSN = df_age_pur.groupby("Age Range")["SN"].nunique()
age_avgTotPur = (age_totPurchaseValue/age_cntPurSN).round(2)

In [1018]:
#summary
agePurData_df = pd.DataFrame({
    "Purchase Count":age_cntPur, 
    "Average Purchase Price":age_avgPurPriceAge.map("${:,.2f}".format) ,
    "Total Purchase Value":age_totPurchaseValue.map("${:,.2f}".format),
    "Avg Total Purchase per Person":age_avgTotPur.map("${:,.2f}".format)
})
agePurData_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1019]:
#group and calc and summary dataframe
PurbySN=df.groupby("SN").agg({"Price": ["count","mean","sum"]})
PurbySN.columns = PurbySN.columns.map("_".join)                          
SpendPurbySN = PurbySN.sort_values("Price_sum", ascending=False)

# rename columns
spend_df= SpendPurbySN.rename(columns ={
    'Price_count': "Purchase Count",
    "Price_mean":"Average Purchase Price",
    "Price_sum":"Total Purchase Value"
    
})

## format data values
spend_df["Average Purchase Price"] = spend_df["Average Purchase Price"].map("${:,.2f}".format)
spend_df["Total Purchase Value"] = spend_df["Total Purchase Value"].map("${:,.2f}".format)

##summary dataframe
spend_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [1020]:
#group and calc and summary dataframe
popItems = df[["Item ID","Item Name","Price"]]
popItems=popItems.groupby (["Item ID","Item Name"]).agg(["count","mean","sum"])
popItems.columns = popItems.columns.map("_".join)                          
popItems = popItems.sort_values("Price_count", ascending=False)
popItems

,,Price_count,Price_mean,Price_sum
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

In [1021]:
# rename columns
popItems_df = popItems.rename(columns ={
    'Price_count': "Purchase Count",
    "Price_mean":"Item Price",
    "Price_sum":"Total Purchase Value"
    
})

## format data values
popItems_df ["Item Price"] =popItems_df ["Item Price"].map("${:,.2f}".format)
popItems_df ["Total Purchase Value"] = popItems_df ["Total Purchase Value"].map("${:,.2f}".format)

##summary dataframe
popItems_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [1022]:
#group and calc and summary dataframe
profItems = df[["Item ID","Item Name","Price"]]
profItems=profItems.groupby (["Item ID","Item Name"]).agg(["count","mean","sum"])
profItems.columns = profItems.columns.map("_".join)                          
profItems = profItems.sort_values("Price_sum", ascending=False)
profItems

,,Price_count,Price_mean,Price_sum
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

In [1023]:
# rename columns
profItems_df = profItems.rename(columns ={
    'Price_count': "Purchase Count",
    "Price_mean":"Item Price",
    "Price_sum":"Total Purchase Value"
    
})

## format data values
profItems_df ["Item Price"] =profItems_df ["Item Price"].map("${:,.2f}".format)
profItems_df ["Total Purchase Value"] = profItems_df ["Total Purchase Value"].map("${:,.2f}".format)

##summary dataframe
profItems_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
# Written description of three observable trends based on the data
# Gender Purchase analysis - Male makes more purchase then female, but female has an higher average purchase rate. 
# Most Popular items - Final Critic is the most popular item.
# Purchase Age Range - The age range that has highest purchase count is from age 20-24